section.pageContainer{
	width: 100%;
    
    background-color: @P_white;
    background-image: url('../images/justYellow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;

    header#mainHead{
		height: 200px;
	}

	section.mainInfo{
		width: 100%;
		height: 700px;
		background-color: @P_white;

		img.iMF{
			width: 100%;
			object-fit: cover;
			height: 500px;
		}

		section.underAll{
			width: 100%;
			height: 200px;
			/*background-color: green;*/
			display: flex;
			flex-wrap: wrap;
		}
		section.underOpt{
			width: 70%;
			height: 50px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			#heart{
				background-image: url('../images/i/loveFire.png');
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
			    height: 100%;
			    width: 50px;
			    margin-left: 5px;
			}

			#comment{
				background-image: url('../images/i/commentLove.png');
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
			    height: 100%;
			    width: 50px;
			    margin-left: 15px;
			}

			#laugh{
				background-image: url('../images/i/laugh.png');
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
			    height: 100%;
			    width: 50px;
			    margin-left: 15px;
			}

			#cry{
				background-image: url('../images/i/cry.png');
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
			    height: 100%;
			    width: 50px;
			    margin-left: 15px;
			}
		}

		section.imgInfo{
			width: 25%;
			height: 50px;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			/*background-color: blue;*/
		}
	}

}

