section.pageContainer{
	width: 100%;
    
    background-color: @P_white;
    background-image: url('../images/justYellow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;

    header#mainHead{
		height: 200px;
	}

	section.mainInfo{
		width: 100%;
		/*height: 700px;*/
		background-color: @P_white;

		img.iMF{
			width: 100%;
			object-fit: contain;
			height: 100%;
		}

		h3.uNAvIm{
			width: 100%;
			height: 0px;
			.raleway(20px);
			text-align: center;
			color: darken(@P_green,10%);
			font-weight: bold;
			letter-spacing: 3px;

		}

		section.underAll{
			width: 100%;
			/*height: 200px;*/
			/*background-color: green;*/
			display: flex;
			flex-wrap: wrap;
		
			section.underOpt{
				width: 100%;
				height: 50px;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;

				.heart{
					background-image: url('../images/i/loveFire.png');
				    background-repeat: no-repeat;
				    background-position: center;
				    background-size: contain;
				    height: 100%;
				    width: 35px;
				    margin-right: 15px;
				}

				.comment{
					background-image: url('../images/i/commentLove.png');
				    background-repeat: no-repeat;
				    background-position: center;
				    background-size: contain;
				    height: 100%;
				    width: 35px;
				    margin-right: 15px;
				}

				.laugh{
					background-image: url('../images/i/laugh.png');
				    background-repeat: no-repeat;
				    background-position: center;
				    background-size: contain;
				    height: 100%;
				    width: 35px;
				    margin-right: 15px;
				}

				.cry{
					background-image: url('../images/i/cry.png');
				    background-repeat: no-repeat;
				    background-position: center;
				    background-size: contain;
				    height: 100%;
				    width: 35px;
				    margin-right: 15px;
				}

			}

			section.commentDiv{
					display: inline-block;
					margin-top: 0px;
					/*height: 150px;*/
					width: 100%;
					padding: 10px;
					/*background-color: red;*/

				section.commentRow{
					display: flex;
					height: 100px;
					flex-wrap: wrap;
					align-content: center;
					justify-content: space-between;
					/*overflow-y: hidden;*/
					/*text-overflow: ellipsis;*/


					h3.cmtUN{
						/*display: inline-block;*/
						/*width: 25%;*/
						.raleway(15px);
						letter-spacing: 0px;
						height: 100%;
						font-weight: 900;
						line-height: 100px;


					}

					p.cmtCon{
						display: inline-block;
						width: 100%;
						.openSans(20px);
						margin: 0 auto;
						/*height: 100%;*/
						/*text-overflow: ellipsis;*/

						span.cmtUN{
							color: darken(@P_green,10%);
							font-weight: bold;
							padding-right: 10px;
						}
					}

					section.cmtUnd{

						display: flex;
						flex-wrap: wrap;
						width: 100%;
						justify-content: flex-end;
						margin: 0 auto;

						h4.cmtDate{

						}

						h4.cmtReply{
							.raleway(12px);
							color: darken(@P_pink,15%);
							height: 12px;
							margin: 0;
						}
					}

				}



				#cmtInsert{
					width: 100%;

					textarea.cmtInsertBox{
						width: 100%;
						background-color: @P_white;
						border: none;
						resize: none;
						outline: @P_green;
						.openSans(20px);
						color: @P_black;
						letter-spacing: 3px;
					}

					div#f_dataP{
						width: 100%;
						text-align: center;
						margin: 0 auto;
						.raleway(20px);
						color:@P_green;
					}
				}

			}

			section.imgInfo{
				width: 25%;
				height: 50px;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				/*background-color: blue;*/
			}

			
		}

	}

}

