<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Upliftagram</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway|Roboto&display=swap" rel="stylesheet">

    <link href="css/index.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="css/jQueryData2.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>

   <!-- navigation code here -->

   <section class="pageContainer">
     
   

      <header id="mainHead">
       



      </header>

      <section class="mainInfo">

        <h3 class="uNAvIm">_harryhoudini_</h3>
        
        <img src="images/womanTester.jpg" class="iMF" />

        <section class="underAll">

          <section class="underOpt">

            <div id="comment"></div>
            
            <div id="heart"></div>

            <div id="laugh"></div>

            <div id="cry"></div>

            

          </section>

          <!-- <section class="imgInfo">

          </section> -->

          <section class="commentDiv" id="0001">
            
            <section class="commentRow">
              
              <!-- <h3 class="cmtUN"></h3> -->

              <p class="cmtCon"><span class="cmtUN">_harryhoudini_</span>It took until late last night for my peeps to get the app deployed and get me the links. They ran into some snags with Netlify and ended up having to pull it down</p>

            </section>

            <!-- OTHER USERS COMMENTS ON ITEM         -->

            <section class="commentRow">

              <p class="cmtCon"><span class="cmtUN">tom</span>It took until late last night for my peeps to get the app deployed and get me the links. They ran into some snags with Netlify and ended up having to pull it down</p>

              <section class="cmtUnd">
                
                <h4 class="cmtReply">reply</h4>

              </section>

            </section>

          </section>

          <!-- COMMENT INSERTION SECTION -->

          <section class="commentDiv" id="0002">            
                      
            <form id="cmtInsert" method="POST" action="" enctype="multipart/form-data" >
        
              <textarea class="cmtInsertBox" id="002" placeholder="Comment"></textarea>

              <div id="f_dataP">Post</div>

            </form>            

          </section>          

        </section>

      </section>

     <!--  <section class="mainInfo">
        


      </section>

      <section class="mainInfo">
        


      </section>

      <section class="mainInfo">
        


      </section>

      <section class="mainInfo">
        


      </section>
 -->

    </section>
   
    
    <footer>
      
      <h5 class="footerContent">&#169; 2020</h5>

    </footer>

   
  </body>

</html>